nav{
	width: 100%;
	background-color:#f44242;
	color:#f44242;
	height: 45px;
	font-size: 35px;
	font-family: 'Walter Turncoat', cursive;
}
article fieldset{
	font-family: calibri;
	font-size: 15px;
	float: left;
	margin-top: 120px;
}
footer{
    color:#f44242;
    font-size: 15px;
    width: auto;
    margin-top: 100%;
    background-color:#a1a7b3;
    height: 100px;
    text-align: center;
}
footer img{
	width: 30px;
	height: 30px;
}
iframe{
	float: left;
	width: 100%;
	margin-top:100px;
	height:600px;
}
.form1{
	font-family: calibri;
	font-size: 15px;
	float: left;
	margin-top: 120px;
	margin-left: 400px;
}